/* GENERAL */
body {
    margin: 0;
    font-family: "Poppins ExtraBold", sans-serif;
    font-weight: 700;
    background-color: #F1FDF3;
    color: #6CBF86;
}

/* ----------- HEADER ----------- */

.header {
    background-color: #D1E9D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    height: 140px;
}

main {
    position: relative;
}



.icon-cuadros {
    margin-left: 70px;
    width: 50px;
    cursor: pointer;
    transition: transform 0.2s ease;
    opacity: 0.5;
}

.icon-cuadros:hover {
    transform: scale(1.07);
}

.icon-angelito {
   width: 100px;
   margin-right: 200px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.titulo {
    margin: 0;
    margin-left: 20px;
    font-size: 45px;
    font-weight: 900;
    letter-spacing: 5px;
    color: #99CDA9;
     text-shadow:
        0px 3px 3px rgba(0, 0, 0, 0.2),
        0px 6px 10px rgba(0, 0, 0, 0.15),
        0px 10px 20px rgba(0, 0, 0, 0.10);
}

.subtitulo {
    margin-top: 10px;
    margin-left: 30px;
    color: #99CDA9;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: 800;
}

.contact-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #F1FDF3;
    font-family: "Poppins", sans-serif;
}

.contact-section h2 {
    color: #6CBF86;
    margin-top: 50px;
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 30px;
}

.location p {
    font-size: 18px;
    color: #6CBF86;
    margin-bottom: 35px;
    margin-top: 100px;
    margin-right: 460px;
}

.map-container {
    width: 100%;
    max-width: 700px;
    height: 500px;
    margin: 0 auto 30px auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.15);
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.schedule p {
    font-size: 18px;
    color: #6CBF86;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 90px;
}

.parrafito {
    font-size: 15px;
    color: #758A93;
    max-width: 600px;
    margin: 10px auto;
    line-height: 1.6;
    margin-bottom: 60px;
}

.write-us strong {
    
    color: #6CBF86;
}

.emails {
    color: #6CBF86;
    font-weight: bold;
    margin-top: 15px;
}



/* FOOTER */
.footer {
    background-color: #D1E9D2;
    margin-top: 60px;
    padding: 25px;
    text-align: center;
}

.footer-icons {
    margin-bottom: 15px;
    opacity: 0.3;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.footer-icons :hover{
    transform: scale(1.07);
}

.icon-footer {
    width: 42px;
    border-radius: 50%;
    margin: 0 12px;
}

.copy {
    font-size: 12px;
    color: #346048;
}

/* Overlay del menú */
.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    height: 100vh;
    background-color: #D0E3D1;
    box-shadow: 4px 0 10px rgba(0,0,0,0.2);
    z-index: 10;
    display: none; /* luego se mostrará con JS */
}

/* Header */
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    border-bottom: 3px solid #758A93;
}

.menu-header span {
    font-size: 20px;
    font-weight: bold;
    color: #99CDA9;
    margin-left: 80px;
}

.btn-cerrar {
    width: 16px;
    opacity: 0.2;
    cursor: pointer;
}

/* Contenido del menú */
.menu {
    margin-top: 20px;
    margin-left: 20px;
    color: #6CBF86;
    font-size: 15px;
}

/* Cada ítem */
.menu-item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 14px 22px;
    cursor: pointer;
    transition: 0.2s;
}

.menu-item:hover {
    background-color: #c3d9cc;
}

/* Íconos */
.icono {
    width: 26px;
    height: 26px;
    opacity: 0.2;
}
