

body {
    font-family: "Poppins ExtraBold", sans-serif;
    background-color: #F1FDF3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #f0f9f5;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    padding: 40px 50px;
    border-radius: 15px;
    max-width: 900px;
    width: 100%;
}

.form-section {
    flex: 1;
    margin-right: 30px;
    max-width: 400px;
}

h1 {
    color: #99CDA9;
    font-size: 42px;
    text-align: center;
    font-weight: 900;
    margin-bottom: 5px;
    text-shadow:
        0px 3px 3px rgba(0, 0, 0, 0.2),
        0px 6px 10px rgba(0, 0, 0, 0.15),
        0px 10px 20px rgba(0, 0, 0, 0.10);
}

h2 {
    color: #99CDA9;
    margin-right: 150px;
    text-align: right;
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    color: #99CDA9;
    margin-bottom: 5px;
    font-weight: 780;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 2px;
    border: none;
    border-bottom: 1px solid #76b79f;
    background-color: transparent;
    font-size: 16px;
    color: #333;
    outline: none;
}

button {
    margin-top: 10px;
    margin-left: 130px;
    padding: 10px 25px;
    background-color: #a0b3c7;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    font-family: "Poppins ExtraBold", sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #8b9bb0;
}

.image-section img {
    width: 230px;
    height: auto;
    opacity: 0.3;
    margin-top: 120px;
    margin-left: 100px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .form-section {
        margin-right: 0;
       
    }

    .image-section {
        margin-top: 20px;
    }
}